<h1>Listing photoset_photos</h1>

<table>
  <tr>
    <th>Photo</th>
    <th>Photoset</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photoset_photos.each do |photoset_photo| %>
  <tr>
    <td><%= photoset_photo.photo_id %></td>
    <td><%= photoset_photo.photoset_id %></td>
    <td><%= link_to 'Show', photoset_photo %></td>
    <td><%= link_to 'Edit', edit_photoset_photo_path(photoset_photo) %></td>
    <td><%= link_to 'Destroy', photoset_photo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photoset photo', new_photoset_photo_path %>
