<h1>Listing photosets</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Flickr photoset</th>
    <th>User</th>
    <th>Title</th>
    <th>Description</th>
    <th>Primary</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photosets.each do |photoset| %>
  <tr>
    <td><%= photoset.id %></td>
    <td><%= photoset.flickr_photoset_id %></td>
    <td><%= photoset.user_id %></td>
    <td><%= photoset.title %></td>
    <td><%= photoset.description %></td>
    <td><%= photoset.primary %></td>
    <td><%= photoset.created_at %></td>
    <td><%= photoset.updated_at %></td>
    <td><%= link_to 'Show', photoset %></td>
    <td><%= link_to 'Edit', edit_photoset_path(photoset) %></td>
    <td><%= link_to 'Destroy', photoset, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photoset', new_photoset_path %>
