<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :flickr_photo_id %><br />
    <%= f.text_field :flickr_photo_id %>
  </div>
  <div class="field">
    <%= f.label :flickr_user_id %><br />
    <%= f.text_field :flickr_user_id %>
  </div>
  <div class="field">
    <%= f.label :authorname %><br />
    <%= f.text_field :authorname %>
  </div>
  <div class="field">
    <%= f.label :added %><br />
    <%= f.datetime_select :added %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :flickr_comment_id %><br />
    <%= f.text_field :flickr_comment_id %>
  </div>
  <div class="field">
    <%= f.label :photo_id %><br />
    <%= f.text_field :photo_id %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
