<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @comment.id %>
</p>

<p>
  <b>Flickr photo:</b>
  <%= @comment.flickr_photo_id %>
</p>

<p>
  <b>Flickr user:</b>
  <%= @comment.flickr_user_id %>
</p>

<p>
  <b>Authorname:</b>
  <%= @comment.authorname %>
</p>

<p>
  <b>Added:</b>
  <%= @comment.added %>
</p>

<p>
  <b>Url:</b>
  <%= @comment.url %>
</p>

<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>

<p>
  <b>Flickr comment:</b>
  <%= @comment.flickr_comment_id %>
</p>

<p>
  <b>Photo:</b>
  <%= @comment.photo_id %>
</p>

<p>
  <b>Created at:</b>
  <%= @comment.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @comment.updated_at %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
